/**
 * main.css by Ad5001
 * (C) Ad5001 2017
 */

header {
    /* Background related */
    background-color: #DDD;
    border-bottom: solid 1px #333333;
    height: 50px;
    width: 100%;
    cursor: default;
}

header * {
    /* Font related */
    display: inline;
    color: #333333;
    font-size: 30px;
    vertical-align: middle;
    line-height: 50px;
    padding-left: 10px;
}

p,
h1,
h2,
h3 {
    cursor: default;
    color: #333333;
    font-family: Ubuntu, Cantarell, Arial, sans-serif;
}

body {
    font-family: Ubuntu, Cantarell, Arial, sans-serif;
    margin: 0%;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

textarea {
    width: 100%;
    height: 200px;
    resize: none;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

li img {
    width: 50px;
    height: 50px;
}