/**
 * tabs.css by Ad5001
 * (C) Ad5001 2017
 */


/* Tabs contents */

tab[active="false"] {
    display: none;
    position: absolute;
}

tab[active="true"] {
    display: block;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 50px;
}

.slideLeft {
    margin-left: 120px;
    width: calc(100% - 120px) !important;
    animation: slideLeft .6s;
    -webkit-animation: slideLeft .6s;
}

.slideRight {
    width: 100%;
    margin-left: 0px;
    animation: slideRight .6s;
    -webkit-animation: slideRight .6s;
}

@keyframes slideRight {
    0% {
        margin-left: 120px;
        width: calc(100% - 120px);
    }
    100% {
        margin-left: 0px;
        width: 100%;
    }
}

@keyframes slideLeft {
    0% {
        margin-left: 0px;
        width: 100%;
    }
    100% {
        margin-left: 120px;
        width: calc(100% - 120px);
    }
}


/* Tab selector */

ul#tabSelector {
    height: 100%;
    width: 80px;
    position: absolute;
    margin-top: -1px;
    z-index: 200;
    /* Just to be sure :p */
    border-right: solid 1px #333333;
    background-color: #DDD;
}

ul#tabSelector.show {
    opacity: 1;
    position: absolute;
    animation: slideTabIn .6s;
    -webkit-animation: slideTabIn .6s;
}

ul#tabSelector.hide {
    position: absolute;
    width: 0px;
    /* Just to be sure :p */
    z-index: -200;
    animation: slideTabOut .6s;
    -webkit-animation: slideTabOut .6s;
}

@keyframes slideTabIn {
    0% {
        opacity: 0;
        width: 0px;
        display: block;
    }
    100% {
        opacity: 1;
        width: 80px;
        display: block;
    }
}

@keyframes slideTabOut {
    0% {
        opacity: 1;
        width: 80px;
        display: block;
    }
    100% {
        opacity: 0;
        width: 0px;
        display: block;
    }
}


/* Tab selector related items */

button.showTabList {
    background-color: #DDD;
    border: none;
    background-image: url("../images/show_menu.png");
    height: 50px;
    width: 50px;
    outline: none;
}

button.showTabList.back {
    background-image: url("../images/back.png");
}

ul#tabSelector li {
    margin-left: -40px;
    padding: 5px;
    text-align: center;
    vertical-align: center;
    background-color: #FFFEEE;
    list-style: none;
    border-bottom: solid 1px #333333;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: calc(100% - 50px);
}