{
  "extends": ["next", "next/core-web-vitals", "eslint:recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "no-multiple-empty-lines": ["error", {
      "max": 0
    }]
  }
}
