/* GLOBALS */
code {
  color: var(--bs-body-color);
}

.list-group-item.active code {
  color: white;
}

.dots:before {
  animation: dots 2s linear infinite;
  content: "";
}

.card {
  --bs-card-border-color: rgba(0, 0, 0, 0.125);
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

@keyframes dots {
  0%,
  20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60% {
    content: "...";
  }
  90%,
  100% {
    content: "";
  }
}

/* POGGIT SEARCH */
.ais-Hits-list {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

.ais-Highlight span,
.ais-Highlight-highlighted {
  color: #212529;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* CRASHDUMP PARSER */
.code-block {
  border-radius: var(--bs-accordion-inner-border-radius);
}

.accordion-icon {
  padding-top: 0.15rem !important;
  width: 1.25em;
  height: 1.25em;
}

.raw-json-crashdump {
  font-family: var(--bs-font-monospace);
}

/* MOTD GENERATOR */
@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/minecraft_font.woff") format("woff"),
    url("/static/fonts/minecraft_font.eot") format("eot"),
    url("/static/fonts/minecraft_font.ttf") format("truetype"),
    url("/static/fonts/minecraft_font.svg#Minecraft") format("svg");
  unicode-range: U+0000-FFFD, U+0080-00FF, U+2000-206F;
}

.preview {
  font-family: "Minecraft", monospace;
  padding: 10px;
  background-color: rgb(51, 51, 51);
  color: #ffffff;
  border-radius: 0.375rem;
}

.colour-btn {
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.format-btn {
  margin-top: 8px;
  margin-left: 2px;
}
